.login-wrap {
    font-family: var(--fontFamily-sans);
    display: flex;
    flex-direction: column;
    width: var(--maxWidth-md);
    margin: 0 auto var(--spacing-12) auto;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form div {
    margin-bottom: var(--spacing-2);
}

.login-form input {
    text-align: center;
}

.login-form button {
    margin: var(--spacing-4) auto 0 auto;
    width: 50%;
}