.login-wrap {
    font-family: var(--fontFamily-sans);
    background-color: var(--color-gray-light);
}

.login-form {
    margin-bottom: var(--spacing-12);
    margin-left:auto;
    margin-right: auto;
    padding: var(--spacing-12);
    display: flex;
    flex-direction: column; 
    max-width: var(--maxWidth-md);
}

.login-form input {
    margin-bottom: var(--spacing-2);
    line-height: var(--lineHeight-relaxed);
    height: var(--spacing-8);
    text-align: center;
}

.login-form input:focus {
    color:brown;
}