<template name="header">
    <header>
        <div class="header__container">
            <div class="brand">
                <a href="/">JSP</a>
                <p>Une app pour une coloc clean</p>
            </div>
            <nav id="mainNav">
                <ul class="menu">
                    <li class="menu-item">
                        <a class="{{isActivePath '/'}}" href="{{urlFor 'dashboard'}}">
                            dashboard
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="{{isActivePath '/leaderboard'}}" href="{{urlFor 'leaderboard'}}">
                            scores
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</template>